#map {
<<<<<<< HEAD
  height: 450px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
=======
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
>>>>>>> 5251d007fa565bcc8cf9d3375685e2e732b76530
